.inter-normal {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
}

.header {
  background-image: url(/B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 150px; 
}

.text-primary {
  color: #4E47FF;
  font-size: 34px;
  padding: 0; 
}

.banner {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 0 30px; 
  font-weight: bold;
  font-size: 65px;
}
.btn-primary{
     background-color: #4E47FF;
     border-radius: 10px;
     font-weight: bold;
     color:white;
     padding:12px 36px;
     list-style: none;
    border: none;

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.preview-pic{
    width: 403px;
    border-radius: 48px;
    height: 328px;
}
.preview{
    display: flex;
    justify-content: space-between;
    margin: 96px 149px 136px 151px ;
}
.section-title{
 font-size: 35px;  


}
.stats-section {
  background-color:#4E47FF1A
; 
  background-color:10% ;
  padding: 60px 40px;
  text-align: center;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto
  
  ;

}

.stats-section h2 {
  font-size: px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.stat-box h3 {
  font-size: 80px;
  color: #4e47ff; 
  margin-bottom: 10px;
  font-weight: 700;
}

.stat-box p {
  font-size: 16px;
  color: #666;
}
.review-section {
  
  padding: 80px 40px;
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 30px;
   flex-wrap: wrap;
}

.review-card {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  width: 280px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.stars {
  margin-bottom: 10px;
}

.stars img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.review-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111;
}

.review-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.review-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.review-footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-footer h4 {
  font-size: 14px;
  margin: 0;
  color: #222;
}

.review-footer h5 {
  font-size: 12px;
  color: #777;
  margin: 2px 0 0 0;
}
.bg
{
  background-color: #f5f7ff;
}

